/******** Making sure the html and body span the whole are ********/
html {
    width: 100%;
    height: 100%;
}

body{
    background-image: url(../images/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/******** CSS FOR HEADER AND FOOTER ********/
header{
    width:100%;
    margin: 0 auto;
}

header h1{
    font-family: 'Kurale', serif;
    color:white;
}

footer{
    position: fixed;
    bottom:0;
    padding-top: 15px;
    border-top: solid 10px;
    border-color: #4aaaa5;
    height:50px;
    text-align: center;
    width: 100%;
    font-family: 'Kurale', serif;
}

.navbar-brand {
    background-color: #4aaaa5;
    border-radius:2px;
    font-family: 'Kurale', serif;
}

.navbar {
    padding:0;
    color:white;
}

.nav-item:hover{
    background-color: #4aaaa5;
    border-radius: 5px;
}

.ml-auto {
    margin-top: 7px;
    justify-content: center;
}


/******** Quiz Content ********/
.quizContainer{
    width: 1100px;
    margin: 40px auto;
    background-color: rgba(111, 131, 140, 0.85);
    border-radius:5px;
}

.welcome {
    font-family: 'Raleway', sans-serif;
}
.welcome h2 {
    font-size:2.5em;
}

.welcome p {
    font-size: 1.75em;
}

.quizContent{
    width: 850px;
    margin: 20px auto;
    padding:10px;
}

.quizArea{
    font-size: 1.5em;
    margin-top: 20px;
}

.btn-style {
    height: 50px;
    width: 200px;
    margin: 20px 0;
    border-radius: 5px;
}

.greenTimer{
    color: green;
}

.yellowTimer{
    color:rgb(185, 185, 30);
}

.redTimer{
    color:rgb(133, 21, 21);
}

.setup {
    margin-bottom: 10px;
}

.answer {
    margin: 15px 15px;
    background-color: white;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    transition: all .2s;
}

/******** Hover over animations ********/
.answer:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.answer:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

.btn-style:hover{ 
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.btn-style:active{  
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}